<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Examen"
        android:usesCleartextTraffic="true">
        <activity android:name=".ResumenActivity"></activity>
        <activity android:name=".EntradasActivity" />
        <activity android:name=".peliculas.lstPeliculasTOP.LstPeliculasTopActivity" />
        <activity android:name=".peliculas.lstPeliculasSinopsis.LstPeliculasSinopsisActivity" />
        <activity android:name=".peliculas.lstPeliculasGenero.LstPeliculasGeneroActivity" />
        <activity android:name=".peliculas.lstPeliculasCine.LstPeliculasCineActivity" />
        <activity android:name=".cines.lstCines.LstCinesActivity" />
        <activity android:name=".users.loginUser.LoginUserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".peliculas.fdPelicula.FdPeliculaActivity" />
        <activity android:name=".peliculas.lstPeliculas.view.LstPeliculasView" />
    </application>

</manifest>